@import 'tailwindcss';
@import './assets/fonts/fonts.css';

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .shadow-neumorphism-inset {
    border-radius: 32px;
    background: #2d2f25;
    box-shadow: inset 7px 7px 14px #12130f, inset -7px -7px 14px #484b3b;
  }

  .shadow-neumorphism {
    border-radius: 32px;
    background: #2d2f25;
    box-shadow: 13px 13px 35px #12130f, -13px -13px 35px #373a2d;
  }
}

@font-face {
  font-family: 'Parisienne';
  src: url('./Parisienne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
